*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav{
    align-items: center;
    background: rgba(253, 249, 237, 1);
    width: 200px;
    height: 1064px;
}
nav ul {
    align-items: center;
    margin-left: 30px;
    padding-top: 40px;

}

nav ul li a {
    display: inline-block;
    color: black;
    align-items: center;
    
}
nav ul li {
    margin-top: 40px;
   
}


nav ul h2{
    color: brown;
    font-family: sans-serif;
}

nav ul p{
    color: rgb(157, 156, 156);
    font-size: 16px;
    padding-left: 3px;
}

nav ul li button{
    width: 140px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background: rgba(147, 82, 83, 1);
    color: white;
    margin-top: 400px;
    margin-left: -10px;
}

.car{
    margin-top: -55px;
    margin-left: 2px;
}


main{
    margin-left: 60px;
    margin-top: -1050px;
    display: flex;
    justify-content: space-around;
    
}

main input{
    width: 384px;
    height: 32px;
}

.cart-one{
    display: flex;
    gap: 40px;
}

.cart-one img{
    border-radius: 100%;
    margin-left: -20px;
}

.cart-one h3{
    padding-left: 90px;
}

.cart-one p {
    margin-left: 90px;
}


.one-cart{
    margin-left: 250px;
    display: flex;
    background: rgba(253, 249, 237, 1);
    width: 608px;
    border-radius: 5px;
    
}

.one-cart img{
    border-radius: 5px;
    margin-top: 20px;
}

.one-cart h4 {
    background: pink;
    width:100px;
    border-radius: 10px;
    padding-left: 20px;  
    margin-top: 30px;
    margin-left: 40px;
    
}

.one-cart h1 {
    width: 280px;
    margin-left: 40px;
    font-family: sans-serif;
    margin-top: 40px; 
}

.two-cart{
    display: flex;
    margin-left: -280px;
    margin-top: 170px;
    gap: 10px;
    
}

.two-cart p {
    width: 70px;
    font-size: 14px;
}

 .three-cart button{
    width: 140px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background: rgba(147, 82, 83, 1);
    color: white;
    margin-top: 280px;
    margin-left: -230px;
}

.four-cart{
    width: 100px;
    background: red;
    margin-left: 250px;
    margin-top: 20px;
}